.search-box {
	padding: 1.5rem 0 0.75rem;
	input[type='text'] {
		font-family: inherit;
		font-size: 1.2rem;
		width: 100%;
		padding: 0.5rem 1.5rem;
		background-color: #2d3748;
		color: inherit;
		border: 1px solid #1a202c;
		border-radius: 50px;
		&:focus {
			outline: none;
			border: 1px solid white;
			box-shadow: 0 0 10px white;
		}
		&::placeholder {
			color: #718096;
		}
	}
}

@media (max-width: 1024px) {
	.search-box {
		padding: 1.5rem 3rem 0.75rem;
	}
}
